<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <title>Banana Board</title>
</head>

<body>

    <nav>

        <a href="/">Create Post</a>

        <a href="/board">Banana Board</a>

    </nav>

    <header>
        <h1>Banana Board</h1>
    </header>

    <!-- the equal sign is what is shown on the page. without an equal sign it won't show! -->

    <%returnMessages.reverse().forEach(message => {%>
    <section class="resultbox">
        <div class="resultsleft">
            <%=message.title + ('    ')%></div>
        <div class="resultsright"><%=message.body%></div>
    </section>

    <br>

    <%})%>


</body>

</html>